html a{
    text-decoration: none;
}
body {
    font-size: 18px;
}
.main {
    background-image: url(./img/background.png);
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-repeat: no-repeat;
}
header {
    width: 76%;
    margin: 0 auto;
    padding: 63px 0px 0px 0px;
}
.logo-switch {
    display: inline-block;
}
.logo-switch:hover span{
    color: #f26522;
}
.logo-switch:hover .logo{
    background-image: url(./img/logo@1-hover.png);
    
}


.logo {
    width: 46px;
    padding-top: 49px;
    display: inline-block;
    background-image: url(./img/logo@1X.png);
    background-repeat: no-repeat;
}
 .name-logo {
    width: 105px;
    display: inline-block;
    color: #ffffff;
    padding-left: 15px;
}
.tel-mail {
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 664px;
    text-align: right;

}
.name-logo :first-child{
    font-size: 29px;
    color: #ffffff;
}
.name-logo :last-child {
    font-size: 18px;
    color: #ffffff;
}
.tel-mail a {
    color: #ffffff;
    font-size: 18px;
}
.mid {
    padding-left: 157px;
    padding-top: 48px;
}
.shoping-main {
    display: inline-block;
}
.shoping {
    background-image: url(./img/Layer\ 21@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;
}
.price {
    display: inline-block;
    width: 313px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    top: 140px;
    left: -3px;
    opacity: 0;
    color: #ffffff;
}
.euro {
    display: inline-block;
    padding-left: 21px;
}
.vd {
    padding-left: 126px;
    display: inline-block;
}
.euro span {
    font-size: 10px;
}
.euro p {
    font-size: 24px;
    margin: 0;
}

.bot-text {
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 22px;
}
.shoping-main:hover .price {
   opacity: 1;
}
.shoping-main:hover .bot-text {
    color: #f26522;
}
.sightseeing-main {
    display: inline-block;
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 30px;
}
.sightseeing {
    background-image: url(./img/Layer\ 22@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;
}
.sightseeing-main:hover .price {
    opacity: 1;
}
.sightseeing-main:hover .bot-text {
    color: #f26522;
}

.food-main {
    display: inline-block;
}
.food {
    background-image: url(./img/Layer\ 23@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;
}
.food-main:hover .price {
    opacity: 1;
}
.food-main:hover .bot-text {
    color: #f26522;
}
.bars {
    background-image: url(./img/Layer\ 24@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;
}
.bars-main {
    display: inline-block;
}
.bars-main:hover .price{
    opacity: 1;
}
.bars-main:hover .bot-text {
    color: #f26522;
}
.art-main {
    display: inline-block;
    padding-left: 67px;
    padding-right: 67px;
}
.art {
    background-image: url(./img/Layer\ 25@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;
}
.art-main:hover .price {opacity: 1;}
.art-main:hover .bot-text {color: #f26522;}
.walking-main {display: inline-block;}
.walking { background-image: url(./img/Layer\ 26@1X.png);
    border: 3px #ffffff solid;
    border-image: linear-gradient(to top, transparent 1%, #ffffff 100%);
    border-image-slice: 1;
    width: 307px;
    height: 200px;
    position: relative;}
.walking-main:hover .price {opacity: 1;}
.walking-main:hover .bot-text {color: #f26522;}
.footer {
    color: #ffffff;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 554px;
}
